<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fekpal.dao.mapper.MemberOrgMapper">
    <cache/>

    <sql id="union">
        person_info right join org_member on org_info.org_id = org_member.org_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="int" resultMap="result">
        select * from
        <include refid="union"/>
        where id = #{id}
    </select>

    <select id="selectFirstByExample" resultMap="result">
        select * from
        <include refid="union"/>
        <where>
            ${ex.sqlSegment}
        </where>
        limit 1
    </select>

    <select id="selectByExample" resultMap="result">
        select * from
        <include refid="union"/>
        <where>
            id >= #{offset}
            ${ex.sqlSegment}
        </where>
        limit #{limit}
    </select>

    <select id="countByExample" resultType="int">
        select count(*) from
        <include refid="union"/>
        <where>
            ${ex.sqlSegment}
        </where>
    </select>

    <insert id="insert" parameterType="OrgMember" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into org_member(
        org_id, person_id,
        member_duty, member_state,
        join_time, leave_time,
        org_department, available)
        values(
        #{orgId}, #{personId},
        #{memberDuty}, #{memberState},
        #{joinTime}, #{leaveTime},
        #{orgDepartment}, #{available})
    </insert>

    <insert id="insertLoop" parameterType="list" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into org_member(
        org_id, person_id,
        member_duty, member_state,
        join_time, leave_time,
        org_department, available)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orgId}, #{item.personId},
            #{item.memberDuty}, #{item.memberState},
            #{item.joinTime}, #{item.leaveTime},
            #{item.orgDepartment}, #{item.available})
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="OrgMember">
        update org_member set
        member_duty = #{memberDuty},
        member_state = #{memberState},
        join_time = #{joinTime},
        leave_time = #{leaveTime},
        org_department = #{orgDepartment},
        available = #{available}
        where id = #{id}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="OrgMember">
        update org_member set
        <set>
            <if test="memberDuty != null">
                member_duty = #{memberDuty},
            </if>
            <if test="memberState != null">
                member_state = #{memberState},
            </if>
            <if test="joinTime != null">
                join_time = #{joinTime},
            </if>
            <if test="leaveTime != null">
                leave_time = #{leaveTime},
            </if>
            <if test="orgDepartment != null">
                org_department = #{orgDepartment},
            </if>
            <if test="available != null">
                available = #{available}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByExample">
        update org_member set
        member_duty = #{obj.memberDuty},
        member_state = #{obj.memberState},
        join_time = #{obj.joinTime},
        leave_time = #{obj.leaveTime},
        org_department = #{obj.orgDepartment},
        available = #{obj.available}
        <where>
            ${ex.sqlSegment}
        </where>
    </update>

    <update id="updateByExampleSelective">
        update org_member set
        <set>
            <if test="memberDuty != null">
                member_duty = #{memberDuty},
            </if>
            <if test="memberState != null">
                member_state = #{memberState},
            </if>
            <if test="joinTime != null">
                join_time = #{joinTime},
            </if>
            <if test="leaveTime != null">
                leave_time = #{leaveTime},
            </if>
            <if test="orgDepartment != null">
                org_department = #{orgDepartment},
            </if>
            <if test="available != null">
                available = #{available}
            </if>
        </set>
        <where>
            ${ex.sqlSegment}
        </where>
    </update>

    <update id="deleteByPrimaryKey" parameterType="int">
        update org_member set
        available = 0
        where id = #{id} and available != 0
    </update>

    <update id="deleteByExample">
        update org_member set
        available = 0
        <where>
            ${ex.sqlSegment}
        </where>
    </update>

    <resultMap id="result" type="MemberOrg">
        <id property="id" column="id"/>
        <result property="personId" column="person_id"/>
        <result property="memberDuty" column="member_duty"/>
        <result property="memberState" column="member_state"/>
        <result property="orgDepartment" column="org_department"/>
        <result property="joinTime" column="join_time"/>
        <result property="leaveTime" column="leave_time"/>
        <result property="available" column="available"/>

        <result property="orgId" column="org_id"/>
        <result property="userId" column="user_id"/>
        <result property="orgName" column="org_name"/>
        <result property="foundTime" column="found_time"/>
        <result property="adminName" column="admin_name"/>
        <result property="orgType" column="org_type"/>
        <result property="orgLogo" column="org_logo"/>
        <result property="orgView" column="org_view"/>
        <result property="contactEmail" column="contact_email"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="likeClick" column="like_click"/>
        <result property="members" column="members"/>
        <result property="orgState" column="org_state"/>
        <result property="orgAuth" column="org_auth"/>
    </resultMap>
</mapper>