<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置类别名-->

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.fekpal.domain.pojo.Role" alias="Role"/>
        <typeAlias type="com.fekpal.domain.pojo.Authority" alias="Authority"/>
        <typeAlias type="com.fekpal.domain.pojo.Resource" alias="Resource"/>
        <typeAlias type="com.fekpal.domain.pojo.User" alias="User"/>
        <typeAlias type="com.fekpal.domain.pojo.Sau" alias="Sau"/>
        <typeAlias type="com.fekpal.domain.pojo.Club" alias="Club"/>
        <typeAlias type="com.fekpal.domain.pojo.Person" alias="Person"/>
        <typeAlias type="com.fekpal.domain.pojo.Department" alias="Department"/>
        <typeAlias type="com.fekpal.domain.pojo.Major" alias="Major"/>
        <typeAlias type="com.fekpal.domain.pojo.AnniversaryAudit" alias="AnniversaryAudit"/>
        <typeAlias type="com.fekpal.domain.pojo.Message" alias="Message"/>
        <typeAlias type="com.fekpal.domain.pojo.MessageRelease" alias="MessageRelease"/>
        <typeAlias type="com.fekpal.domain.pojo.ClubMember" alias="ClubMember"/>
        <typeAlias type="com.fekpal.domain.pojo.ClubAudit" alias="ClubAudit"/>
    </typeAliases>

    <!--映射文件-->
    <mappers>
        <mapper resource="mapper/UserDao.xml"/>
        <!--
        <mapper resource="mapper/RoleDao.xml"/>
        <mapper resource="mapper/ClubDao.xml"/>
        <mapper resource="mapper/SauDao.xml/"/>
        <mapper resource="mapper/PersonDao.xml"/>
        <mapper resource="mapper/DepartmentDao.xml"/>
        <mapper resource="mapper/AnniversaryAuditDao.xml"/>
        <mapper resource="mapper/ClubAuditDao.xml"/>
        <mapper resource="mapper/ClubMemberDao.xml"/>
        <mapper resource="mapper/MessageDao.xml"/>
        <mapper resource="mapper/MessageReleaseDao.xml"/>
        <mapper resource="mapper/LikeClubDao.xml"/>-->
    </mappers>
</configuration>