<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置类别名-->

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.fekpal.dao.model.Role" alias="Role"/>
        <typeAlias type="com.fekpal.dao.model.Authority" alias="Authority"/>
        <typeAlias type="com.fekpal.dao.model.Resource" alias="Resource"/>
        <typeAlias type="com.fekpal.dao.model.User" alias="User"/>
        <typeAlias type="com.fekpal.dao.model.Sau" alias="Sau"/>
        <typeAlias type="com.fekpal.dao.model.Club" alias="Club"/>
        <typeAlias type="com.fekpal.dao.model.Person" alias="Person"/>
        <typeAlias type="com.fekpal.dao.model.Department" alias="Department"/>
        <typeAlias type="com.fekpal.dao.model.Major" alias="Major"/>
        <typeAlias type="com.fekpal.dao.model.AnniversaryAudit" alias="AnniversaryAudit"/>
        <typeAlias type="com.fekpal.dao.model.Message" alias="Message"/>
        <typeAlias type="com.fekpal.dao.model.MessageRelease" alias="MessageRelease"/>
        <typeAlias type="com.fekpal.dao.model.ClubMember" alias="ClubMember"/>
        <typeAlias type="com.fekpal.dao.model.ClubAudit" alias="ClubAudit"/>
    </typeAliases>

    <!--映射文件-->
    <mappers>
        <mapper resource="com/fekpal/service/dao/mapper/UserMapper.xml"/>
        <!--
        <dao resource="dao/RoleMapper.xml"/>
        <dao resource="dao/ClubMapper.xml"/>
        <dao resource="dao/SauMapper.xml/"/>
        <dao resource="dao/PersonMapper.xml"/>
        <dao resource="dao/DepartmentMapper.xml"/>
        <dao resource="dao/AnniversaryAuditMapper.xml"/>
        <dao resource="dao/ClubAuditMapper.xml"/>
        <dao resource="dao/ClubMemberMapper.xml"/>
        <dao resource="dao/MessageMapper.xml"/>
        <dao resource="dao/MessageReleaseMapper.xml"/>
        <dao resource="dao/LikeClubMapper.xml"/>-->
    </mappers>
</configuration>