/* 浮动 */
.z { float: left !important; }
.y { float: right !important; }

/* 清除浮动 */
.cl:before, .cl:after{ content:" "; display: table }
.cl:after { clear: both }
.cl { *zoom: 1 }
/******************************************************************************/

header {
  background-color: #37a2fe;
}

header > nav {
  height: 50px;
  color: white;
  clear: both;
}

.info {
  float: left;
  position: relative;
  padding: 13px 0 14px 19px;
  font-size: 16px;
}

.topButtons {
  float: right;
}

.logIn {
  float: left;
  background-color: #327aa7;
  width: 80px;
  height: 30px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  text-align: center;
  color: white;
  padding-top: 5px;
  margin-top: 7px;
}

.signUp {
  float: left;
  background-color: #327aa7;
  width: 80px;
  height: 30px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  text-align: center;
  color: white;
  padding-top: 5px;
  margin-top: 7px;
  margin-left: 15px;
}

.logIn:hover, .signUp:hover {
  background-color: #30617f;
}
