<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>页脚</title>
 <link rel="stylesheet" href="../stylesheets/liuyanban.css" type="text/css" />
</head>
<body>
      <div class="leftSide">
            <img src="../images/left.png" class="leftPic" >


             <!--这个是左边的大标题-->
             <div class="Left">
             <a href="" id="ha" class="ha">最新公告</a>
             <a href="" id="ha1" class="ha">社团信息</a>
             <a href="" id="ha2" class="ha">消息发布</a>
             <a href="" id="ha3" class="ha">注册审核</a>
             <a href="" id="ha4" class="ha">年度审核</a>
             </div>


        
               </div>


</body>
</html>

   